@use "../abstracts" as *;

body {
    overflow-x: hidden;
    background: #fff;
};

.container {
    width: $container-width-lg;
    max-width: 1920px;
    margin: 10rem auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 3rem;
    justify-content: center;
}

.logo {
    width: 11rem;
    display: block;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}


@media screen and (max-width: 768px) {
    .container {
        margin: 5rem auto;
    }
}

@media screen and (max-width: 480px) {
    .grid {
        grid-template-columns:1fr;
        row-gap: 2rem;
    }
}