@use "../abstracts" as *;

body, input, textarea {
    font-family: $font-san-serif;
    color: $color-blue;
}

h1, h2, h3, h4 {
    line-height: 125%;
    font-family: $font-serif;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.3rem;
    letter-spacing: 0.01em;
}

a, button, input, textarea {
    color: $color-blue;
    font-size: 1.2rem;
}

/*MEDIA QUERIES FOR FONTS */


@media screen and (max-width: 1025px) {
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    p, a, button, input, textarea {
        font-size: 1.1rem;
    }
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1rem;
    }

    p, a, button, input, textarea {
        font-size: 0.9rem;
    }
}
