@use "../abstracts" as *;

.gallery {
    display: flex;
    flex-direction: column;
    

    /* SMALL GALLERY ON HOMEPAGE*/

    &-small__container {

        @include grid(repeat(2, 1fr), 3rem, 6rem);

        .project-card:nth-child(1) {

            img,
            .toggle-text {
                border-top-right-radius: 25%;
            }
        }

        .project-card:nth-child(2) {

            img,
            .toggle-text {
                border-top-left-radius: 25%;
            }
        }

        .project-card:nth-child(3) {

            img,
            .toggle-text {
                border-bottom-right-radius: 25%;
            }
        }

        .project-card:nth-child(4) {

            img,
            .toggle-text {
                border-bottom-left-radius: 25%;
            }
        }
    }

    /* FULL PORTFOLIO GALLERY*/

    &-large__container {

        @include grid(repeat(2, 3fr), 2rem, 2rem);        
        grid-template-rows: 3fr 1fr 3fr;
        margin-bottom: 2rem;

        .project-card:nth-child(1).project-card {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        .project-card:nth-child(4).project-card {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
        }
    }
}



@media screen and (max-width: 1200px) {
    .gallery-small__container {
        column-gap: 2rem;
        row-gap: 1.5rem;
    }
}


@media screen and (max-width: 768px) {
    .gallery-small__container {
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .gallery-large__container {
        column-gap: 1rem;
        row-gap: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .gallery-small__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-card__text .btn-circle {
        width: 30px;
        height: 30px;
    }

    .gallery-large__container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .gallery-large__container .project-card:nth-child(1).project-card {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .gallery-large__container .project-card:nth-child(4).project-card {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}