@use "../abstracts" as *;

.work-detail {
    @include grid(1fr 1fr, 2rem, 2rem);
    margin: 3rem auto;

    .img {
        @include flex(column, center, center);
    }

    .details {
        @include flex(column, space-between, center);

        .icon {
            width: 100%;
            @include flex(row, space-between, center);

            img {
                width: 5rem;
            }

            h1 {
                font-size: 5rem;
                color: #fff;
            }
        }

        .text {
            text-align: left;
        }
    }
}

@media screen and (max-width: 768px) {
    .work-detail {
        .details {    
            .icon {
                img {
                    width: 3rem;
                }
    
                h1 {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .work-detail  {
        grid-template-columns: 1fr;
    }
}